// Here is a example of how to set up a list map compatible with libsass.
//
// $primary-color: #ff0000;
// $secondary-color: #888888;
// $tertiary-color: #313030;

// $btn-color: (
//   primary $primary-color,
//   secondary $secondary-color,
//   tertiary $tertiary-color
// );

// This mixin allows you to change the background color of a range of elements
@mixin buttoncss($listmap){
  @each $item in $listmap{
    $key: nth($item, 1);
    $value: nth($item, 2);

    &-#{$key}{
      background: $value;
    }
  }
}
